---
import { Image, getImage } from "astro:assets";

import logoNavbar from "../images/logonavbar2.svg";
import logoBottom from "../images/logo-bottom-min.svg";
const logoBottomOpt = await getImage({
  src: logoBottom,
});
const sections = [
  { lbl: "Home", href: "/" },
  { lbl: "Le stanze", href: "/le-stanze" },
  { lbl: "Dove Siamo", href: "/dove-siamo" },
  { lbl: "Contatti", href: "#footer" },
];
---

<nav class="bg-tltr z-20 shadow-lg fixed left-0 top-0 right-0 rounded-b-lg">
  <div
    class="flex items-center justify-center sm:justify-between overflow-x-hidden mx-1 py-1 px-2"
  >
    <a href="/" class="">
      {
        (
          <Image
            src={logoNavbar}
            loading="eager"
            class=" mb-0 h-12 w-16"
            alt="Tenuta Le Tre Rose"
          />
        )
      }
    </a>

    <div class="flex-1 sm:flex-none self-center text-center">
      <a
        rel="canonical"
        title="Tenuta Le Tre Rose"
        href={new URL(Astro.url.pathname, Astro.site)}
        class="sm:ml-4 text-2xl font-serif whitespace-nowrap text-white tracking-wide"
      >
        Tenuta Le Tre Rose
      </a>
    </div>
    <div class="hidden w-full md:block md:w-auto mx-auto" id="navbar-default">
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 sm:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0"
      >
        {
          sections.map((e) => (
            <li>
              <a
                href={e.href}
                title={e.lbl}
                class={`block px-0 text-white text-white hover:bg-tltr-600 rounded-lg px-2 py-2 transition-all duration-300 ease-in-out`}
              >
                {e.lbl}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <button type="button" class="drawer-button flex-initial">
      <span class="sr-only">Apri menù</span>
      <div id="drawer-button" class="tham tham-e-spin tham-w-7 md:hidden">
        <div class="tham-box">
          <div class="tham-inner bg-white"></div>
        </div>
      </div>
    </button>
  </div>
</nav>
<div
  id="drawer"
  class="fixed top-0 left-0 z-40 h-screen overflow-y-auto transition-width delay-300 bg-tltr-900 rounded-r-lg w-0"
  tabindex={-1}
>
  <div class="p-4">
    <div>
      <Image
        src={logoBottom}
        alt="Tenuta Le Tre Rose Vibonati"
        class="logo-bottom block h-44 w-auto mx-auto p-4"
        style={{ filter: "brightness(0) invert(1)" }}
        loading="eager"
      />
    </div>
    <ul class="grid p-0 m-0 gap-4">
      {
        sections.map((e) => {
          return (
            <li>
              <a
                href={e.href}
                title={e.lbl}
                class="flex flex-col justify-center align-middle w-full h-12 hover:bg-tltr-600 rounded-lg text-tltr-50 drawer-link pl-4"
              >
                {e.lbl}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>

<script>
  const drawerbtn = document.getElementById("drawer-button");
  const drawer = document.getElementById("drawer");

  drawerbtn.addEventListener("click", () => {
    drawerbtn.classList.toggle("tham-active");
    const draweropen = drawerbtn.classList.contains("tham-active");
    drawer.classList.remove(draweropen ? "w-0" : "w-80");
    drawer.classList.add(draweropen ? "w-80" : "w-0");
  });

  document.querySelectorAll(".drawer-link").forEach((el) => {
    el.addEventListener("click", () => {
      drawerbtn.classList.toggle("tham-active");
      drawer.classList.remove("w-80");
      drawer.classList.add("w-0");
    });
  });
</script>
