---
import { AstroSeo } from "@astrolib/seo";
import "@fontsource/montserrat";
//import "@fontsource/montserrat/700.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const canonical = new URL(Astro.url.pathname, Astro.site).toString();
const { title } = Astro.props;
const content =
  "La Tenuta Le Tre Rose, nel Cilento, è il posto ideale per il tuo soggiorno in relax e i tuoi eventi esclusivi, a pochi km da Villammare e Sapri";
---

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>

<html lang="it" class="[&::-webkit-scrollbar]:hidden">
  <head>
    <AstroSeo
      title={title}
      description={content}
      canonical={canonical}
      openGraph={{
        type: "website",
        locale: "it_IT",
        description: content,
        title: title,
        url: canonical,
        site_name: "Tenuta Le Tre Rose",
        images: [
          {
            url: "https://i.imgur.com/iwHghPE.jpeg",
          },
        ],
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content={title}>
    <meta property="twitter:description" content={content}>
    <meta property="twitter:image" content="https://i.imgur.com/iwHghPE.jpeg">
    <meta property="twitter:url" content={canonical}>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="bg-tltr-50 overscroll-none">
    <Header />
    <div class="container w-full md:max-w-3xl mx-auto pt-20 mt-8">
      <slot />
    </div>
    <div class="h-56 bg-tltr-50"></div>
    <Footer />
  </body>
</html>
